/***** home page start *****/

/***** home primary image *****/

.firstimage img {
  object-fit: cover;
}

/***** home secondary image *****/

.container img {
  object-fit: cover;
}

/***** style for home text div *****/

.texts {
  justify-content: center;
  padding-left: 50px;
}

/***** style for home  first paragraph *****/

.para_one {
  text-align: justify;
}

/***** style for home second paragraph *****/

.para_two {
  text-align: justify;
}

/***** header link styling *****/

header {
  height: 40px;
  background-color: white;
  margin-right: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
}

/***** style for <a> tag *****/
header a {
  margin: 15px;
}

/***** container secondary divisions *****/

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  column-gap: 20px;
}

.texts {
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

/***** home page end *****/

/***** client page start *****/

/***** client page loading image *****/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/***** table centered *****/

.table {
  margin-left: auto;
  margin-right: auto;
}

/***** styling thead data *****/

.table thead {
  background: rgb(101, 101, 179);
  color: white;
}

/***** styling the thead data *****/

.table tbody {
  background: rgb(91, 158, 219);
  color: rgb(10, 9, 9);
  font-size: medium;
}

/***** table heading centered *****/

.tableHeading {
  margin-left: auto;
  margin-right: auto;
}

/***** new input div *****/

.newinput {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/***** new input textbox *****/

.newinput input {
  padding-left: 20px;
  background: rgb(172, 168, 230);
  color: black;
  position: relative;
  display: block;
  margin: 0 auto;
}

/***** placeholder styling *****/

::placeholder {
  color: red;
  opacity: 1.5;
}
/***** button div centered *****/

.addbutton {
  text-align: center;
  padding-top: 20px;
}

/***** button styling *****/

.addbutton button {
  background: brown;
  color: white;
}

/* media queries */

@media screen and (max-width: 992px) {
  .texts {
    max-width: 325px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 760px) {
  .texts {
    max-width: 325px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 530px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .secondary img {
    padding-top: 40px;
    height: 400px;
    width: 500px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 576px) {
  .img {
    padding-top: 40px;
    height: 530px;
    width: 500px;
    padding-right: px;
  }
}
