/***** home page start *****/

/***** home primary image div *****/

.firstimage {
  max-height: 630px;
  width: 100%;
}

/***** home primary image *****/

.firstimage img {
  object-fit: cover;
  max-height: 514px;
  width: 100%;
}

/***** home secondary image div *****/

.imagediv {
  max-height: 570px;
}

/***** home secondary image *****/

.container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/***** style for home text div *****/

.texts {
  justify-content: center;
  padding-left: 50px;
  margin-left: 40px;
  width: 50%;
}

/***** style for home  first paragraph *****/

.para_one {
  text-align: justify;
}

/***** style for home second paragraph *****/

.para_two {
  text-align: justify;
}

/***** header link styling *****/

header {
  height: 40px;
  background-color: white;
  margin-right: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
}

/***** style for <a> tag *****/
header a {
  margin: 15px;
}

/***** container secondary divisions *****/

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  column-gap: 20px;
}

/***** text div *****/

.texts {
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

/***** home page end *****/

/***** client page start *****/

/***** client page loading image *****/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/***** table centered *****/

.table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid transparent;
}

/***** styling thead data *****/

.table thead {
  background: #010102;
  color: white;
  border: 1px solid transparent;
}

/***** edit delete button styles *****/

.editable {
  cursor: pointer;
  background-color: rgba(173, 173, 206, 0.596);
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 4px 4px;
  border: none;
}

.deletable {
  cursor: pointer;
  background-color: rgba(173, 173, 206, 0.596);
  padding: 7px;
  border-radius: 4px 4px;
  border: none;
  margin-left: 5px;
}

/***** update button style *****/

.updatebutton {
  cursor: pointer;
  background-color: rgba(173, 173, 206, 0.596);
  padding: 7px;
  border-radius: 4px 4px;
  border: transparent;
}

/***** editable input style *****/

.editableinput {
  background-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px 4px;
  border: none;
  border: 1px solid #ced4da;
}

/***** editable input hover *****/

.editableinput:hover {
  border-color: #5594f8;
}

/***** hover effect on update button *****/

.updatebutton:hover {
  background-color: #60e78d;
  color: white;
}

/***** hover effect on edit delete button *****/

.editable:hover {
  background-color: #2a73fa;
  color: white;
}

.deletable:hover {
  background-color: #f11f10;
  color: white;
}

/***** hover effect on thead *****/

/*thead :hover {
  color: white;
  background-color: rgb(228, 133, 95);
}*/

/***** hover effect on tbody elements *****/

/*tbody :hover {
  color: white;
  background-color: rgb(224, 157, 131);
}*/

/***** th styles *****/

th {
  padding: 15px;
  font-size: 15px;
  color: rgb(224, 212, 212);
}

/***** td styles *****/

td {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

/***** tr styles *****/

tr {
  border: 1px solid rgb(228, 225, 225);
  text-align: justify;
  align-items: center;
}
/***** styling the thead data *****/

tr:nth-child(even) {
  background-color: #e7e4e4;
}
.table tbody {
  background: transparent;
  color: rgb(10, 9, 9);
  font-size: medium;
}

/***** table heading centered *****/

.tableHeading {
  margin-left: auto;
  margin-right: auto;
}

/***** new input div *****/

.newinput {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 4px 4px;
  padding: 10px;
  background-color: #e9ecef;
}

/***** new input textbox *****/

.newinputfield {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 20px;
  border-radius: 4px 4px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #ced4da;
}

.newinputfield:hover {
  border-color: #5594f8;
}

/***** add button ****/

.btn {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #5594f8;
  padding: 11px;
  margin-bottom: 30px;
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: 4px 4px;
  color: white;
}

/***** add button hover *****/

.btn:hover {
  background-color: #4087f8;
  color: white;
  cursor: pointer;
}

/***** placeholder styling *****/

::placeholder {
  color: gray;
  opacity: 1.5;
  text-align: center;
}
/***** button div centered *****/

.addbutton {
  text-align: center;
  padding-top: 20px;
}

/* media queries */

@media screen and (max-width: 992px) {
  .texts {
    max-width: 325px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 760px) {
  .texts {
    max-width: 325px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 530px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .secondary img {
    padding-top: 40px;
    height: 400px;
    width: 500px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 576px) {
  .img {
    padding-top: 40px;
    height: 530px;
    width: 500px;
    padding-right: px;
  }
}
